.header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #404040;

  .logo {
    width: 112px;
    height: 33px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .btns {
    display: flex;
    flex-shrink: 1;
    align-items: center;
    justify-content: space-between;

    .btn_logout {
      font-size: 18px;
      margin: 0;
      padding: 15px 10px;
      color: #ffffff;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}


