.notice {
  display: flex;
  position: relative;
  align-items: center;
  color: #ffffff;
  background-color: transparent;
  border: none;

  .notice_label {
    margin-right: 5px;
    color: #ffffff;
  }

  .notice_label_alert {
    color: #ff3333;
    //box-shadow: 0 0 10px 10px #ff3333;
  }

  .notice_count {
    position: absolute;
    color: #ff3333;
    top: 35px;
    left: 41px;
    font-size: 20px;
    line-height: 28px;
    align-self: end;
  }
}

.btn {
  color: #ffffff;
  background-color: transparent;
  padding: 0 20px;
}
