* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #222;
  display: flex;
  flex-direction: column;
}


